<h1>All Friends</h1>
{{outlet}}
<h2>Total friends: {{model.length}}</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |f|}}
    <tr>
      <td>{{link-to f.fullName "friends.show" f}}</td>
      <td><a href="#" {{action "delete" f}}>Delete</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
